<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../resources/css/home.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
		<a class="navbar-brand" href="home.html">
			<img src="../resources/img/chef.jpg" alt="placeholder logo" width="30" height="30">
			CollegeChef™
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Recipes</a>
				</li>
			</ul>
			<div class="dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="../resources/img/push.gif" class="rounded-circle" alt="placeholder profile pic" width="40" height="40">
				</a>
				<div class="dropdown-menu" role="menu" aria-labelledby="profileDropdown">
					<div id="login_div">
						<li class="text-center">Sign in</li>
						<li>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email" id="inputEmail">
							</div>
						</li>
						<li>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" id="inputPassword">
							</div>
						</li>
						<li class="text-center">
							<button class="btn btn-primary" onclick="login()">Submit</button> 
						</li>
						<div class="dropdown-divider"></div>
							<li class="text-center">
								<a href="register.html" class="btn btn-info" role="button">Sign Up</a>
							</li>
					</div>
					<div id="user_div">
						<li class="text-center" id="user_para">Hello User!</p>
						<li class="text-center">
							<button class="btn btn-danger" onclick="logout()">Log Out</button>
						</li>
					</div>
				</div>
			</div>	
			<a href="#">
				<span class="far fa-heart fa-lg" style="color:red" size="5x"></span>
			</a>
			
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="&#128269Search" aria-label="Search">
				<button class="btn btn-primary btn-sm" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<header class="v-header container">
    <div class="fullscreen-video-wrap">
      <video src="../resources/img/collegechef.mp4" autoplay="" loop="" muted>
    </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1 id="home_head">Welcome to CollegeChef™</h1>
      <p id="home_para">Here at CollegeChef™, we hope to provide you with the best recipes that fit your lifestyle. Click the button below to sign up and start cooking.</p>
      <a id="home_btn" href="register.html" class="btn btn-dark btn-lg">Register Here</a>
    </div>
  </header>

  <section class="section section-a" id="section-a">
    <div class="container" style=" rounded; background-color:white;">
      <h2>Select Your Ingredients</h2>
	  <br>
      <div class="container">
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col" >Fruits</th>
			  <th scope="col">Vegetables</th>
			  <th scope="col">Grains</th>
			  <th scope="col">Meat</th>
			  <th scope="col">Dairy</th>
			  <th scope="col">Other</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>
				<div id="list1" class="dropdown-check-list" onclick="displaylist('list1', 'fruits')" tabindex="100">
					<span class="anchor">Select Fruits</span>
					<ul id="fruits" class="items">
						<li><input type="checkbox" />Apple </li>
						<li><input type="checkbox" />Orange</li>
						<li><input type="checkbox" />Grapes </li>
						<li><input type="checkbox" />Berry </li>
						<li><input type="checkbox" />Mango </li>
						<li><input type="checkbox" />Banana </li>
						<li><input type="checkbox" />Tomato</li>
					</ul>
				</div>
			  </td>
			  <td>
				<div id="list2" class="dropdown-check-list" onclick="displaylist('list2', 'veggies')" tabindex="100">
					<span class="anchor">Select Vegetables</span>
					<ul id="veggies" class="items">
						<li><input type="checkbox" />Broccoli </li>
						<li><input type="checkbox" />Cabbage</li>
						<li><input type="checkbox" />Carrots </li>
						<li><input type="checkbox" />Asparagus </li>
						<li><input type="checkbox" />Cucumber </li>
						<li><input type="checkbox" />Radish </li>
						<li><input type="checkbox" />Potatoes</li>
					</ul>
				</div>
				
			  </td>
			  
			  <td>
				<div id="list3" class="dropdown-check-list" onclick="displaylist('list3', 'grains')" tabindex="100">
					<span class="anchor">Select Grains</span>
					<ul id="grains" class="items">
						<li><input type="checkbox" />Rice </li>
						<li><input type="checkbox" />Bread</li>
						<li><input type="checkbox" />Corn </li>
						<li><input type="checkbox" />Soy Beans </li>
						<li><input type="checkbox" />Cucumber </li>
						<li><input type="checkbox" />Tofu </li>
						<li><input type="checkbox" />Sesame</li>
					</ul>
				</div>
				
			  </td>
			  <td>
				<div id="list4" class="dropdown-check-list" onclick="displaylist('list4', 'meats')" tabindex="100">
					<span class="anchor">Select Meats</span>
					<ul id="meats" class="items">
						<li><input type="checkbox" />Chicken</li>
						<li><input type="checkbox" />Beef</li>
						<li><input type="checkbox" />Turkey </li>
						<li><input type="checkbox" />Pork</li>
						<li><input type="checkbox" />Ham</li>
						<li><input type="checkbox" />Duck</li>
						<li><input type="checkbox" />Lamb</li>
					</ul>
				</div>
		
			  </td>
			  <td>
				<div id="list5" class="dropdown-check-list" onclick="displaylist('list5', 'dairy')" tabindex="100">
					<span class="anchor">Select Dairy</span>
					<ul id="dairy" class="items">
						<li><input type="checkbox" />Milk</li>
						<li><input type="checkbox" />Yogurt</li>
						<li><input type="checkbox" />Butter </li>
						<li><input type="checkbox" />Cheddar Cheese</li>
						<li><input type="checkbox" />Pepper Jack Cheese</li>
						<li><input type="checkbox" />Sour Cream</li>
						<li><input type="checkbox" />Ice Cream</li>
					</ul>
				</div>
				
			  </td>
			  <td>
				<div id="list6" class="dropdown-check-list" onclick="displaylist('list6', 'other')" tabindex="100">
					<span class="anchor" >Select Other</span>
					<ul id="other" class="items">
						<li><input type="checkbox" />Eggs</li>
						<li><input type="checkbox" />Olive Oil</li>
						<li><input type="checkbox" />Salt </li>
						<li><input type="checkbox" />Pepper</li>
						<li><input type="checkbox" />Dried Bread Crumbs</li>
						<li><input type="checkbox" />Ketchup</li>
						<li><input type="checkbox" />Mayonnaise</li>
					</ul>
				</div>
				
			  </td>
			  <td>
				<div class="dropdown">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					Filter
				  </button>
				  <div class="dropdown-menu">
					<a class="dropdown-item" href="#">Filter 1</a>
					<a class="dropdown-item" href="#">Filter 2</a>
					<a class="dropdown-item" href="#">Filter 3</a>
				  </div>
			  </div>
			  </td>
			</tr>
		  </tbody>
		</table>
		<br>
		
		<div class="text-center">
			<a href="#" class="btn btn-primary" role="button">Search Recipes</a>
		</div>
		<br>
	</div>
    </div>
  </section>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src=../resources/js/"home.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
  <script>
		  // Initialize Firebase
		  var config = {
			apiKey: "AIzaSyBprXkeXD1HCJQZL4KtgmMaA3svUU7vcgI",
			authDomain: "collegechef-1789f.firebaseapp.com",
			databaseURL: "https://collegechef-1789f.firebaseio.com",
			projectId: "collegechef-1789f",
			storageBucket: "collegechef-1789f.appspot.com",
			messagingSenderId: "231942064234"
			};
		firebase.initializeApp(config);
  </script>
	
  <script src="../resources/js/accounts.js"></script>
  
</body>

</html>