<!DOCTYPE html>
<html lang="en">
<head>
  <title>CollegeChef - Reset Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../resources/css/signup.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body>
  <!-- Nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home.html">
      <img src="../resources/img/chef.jpg" alt="placeholder logo" width="30" height="30" style="opacity: 0.9">
      CollegeChef™
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	
  </nav>
  </br>

  <!-- Sign in card -->
  <div class="wrapper fade-in">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Reset Password</h5>
              <div id="login_div" class="signin">
                
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                  <label for="inputEmail">Email address</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="resetPassword()">Reset Password</button>
                <a class="d-block text-center mt-2 small" href="sign_in.html">Sign in</a>
              </div>
        
              <div id="user_div">
                <p>A password reset email has been sent. Please check your inbox to reset your email.</p>              
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer with social icons -->
  <footer id="lab_social_icon_footer">
      <div class="container">
          <div class="text-center center-block">
                <a href="https://www.facebook.com/cuboulder/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/CUBoulder"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://www.instagram.com/cuboulder/?hl=en"><i id="social-gp" class="fa fa-instagram fa-3x social"></i></a>
          </div>
      </div>
  </footer>
  
  <!-- Start of scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
  <script>
		  // Initialize Firebase
		  var config = {
			apiKey: "AIzaSyBprXkeXD1HCJQZL4KtgmMaA3svUU7vcgI",
			authDomain: "collegechef-1789f.firebaseapp.com",
			databaseURL: "https://collegechef-1789f.firebaseio.com",
			projectId: "collegechef-1789f",
			storageBucket: "collegechef-1789f.appspot.com",
			messagingSenderId: "231942064234"
			};
		firebase.initializeApp(config);
  </script>
  <script src="../resources/js/accounts.js"></script>
  <!-- End of Scripts -->
  
</body>

</html>